{% extends "my_restaurant/my_restaurant_edit_base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="#">My Restaurant</a></li>
    <li class="active">Restaurant Desk</li>
</ol>
{% endblock breadcrumb %}

{% block my_restaurant_base %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Restaurant Desk</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary">Add Desk</button>
        <!-- restaurant desk add form -->
        <div id="add_desk_editor" class="well">
            <form method="post" role="form" action="{% url 'my_restaurant_add_desk' %} ">
                {% csrf_token %}
                <div class="form-group">
                    {{ add_desk_form.as_p }}
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>





{% render_table people %}

<p> restaurant desk </p>
<table class="table table-striped">
    <caption>Striped Table Layout</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Pincode</th>
        </tr>
    </thead>
    <tbody> <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            </tr> <tr>
            <td>Sachin</td>
            <td>Mumbai</td>
            <td>400003</td>
            </tr> <tr>
            <td>Uma</td>
            <td>Pune</td>
            <td>411027</td>
        </tr>
    </tbody>
</table>

{% endblock my_restaurant_base%}
