{% extends "my_restaurant/my_restaurant_base.html" %}
{% load i18n %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="#">My Restaurant</a></li>
    <li class="active">Sign In</li>
</ol>
{% endblock breadcrumb %}

{% block main %}

<h2>Welcome update your restaurant menu</h2>
<div class="row">
    <div class="col-md-9">
        <p>Before edit your restaurant menu, please login</p>
    </div>
    <div class="col-md-3">
        <div class="login">
            <h2>{% trans 'Log in' %}</h2>
            <form method="post" action="{% url 'login' %}" role="form">
                {% csrf_token %}
                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                    <label for="username">{% trans 'Username' %}</label>
                    <input type="text" class="form-control" id="username" name="username">
                    {% for error in form.username.errors %}
                    <label class="control-label">{{ error }}</label>
                    {% endfor %}
                </div>
                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    <label for="password">{% trans 'Password' %}</label>
                    <input type="password" class="form-control" id="password" name="password">
                    {% for error in form.password.errors %}
                    <label class="control-label">{{ error }}</label>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
                    <a href="/resetpassword/" class="btn btn-link">{% trans 'Forgot password' %}</a>
                </div>
            </form>

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
