{% extends "my_restaurant/my_restaurant_base.html" %}
{% load i18n %}



{% block main %}
<p>Please add restaurant information, menu and desk</p>

<div class="row">
    <div class="col-md-2">
        <nav class="navbar navbar-default" role="navigation"> 
        <ul class="nav navbar-tabs nav-stacked text-center">
            <li><a href="{% url 'my_restaurant_info' %}">{% trans 'Info' %}</a></li>
            <li><a href="{% url 'my_restaurant_menu' %}">{% trans 'Menu' %}</a></li>
            <li><a href="{% url 'my_restaurant_desk' %}">{% trans 'Desk' %}</a></li>
        </ul>
        </nav>
    </div>
    <div class="col-md-7">
        {% block my_restaurant_base %}
        {% endblock my_restaurant_base  %}
    </div>
</div>


{% endblock main %}
