{% extends "my_restaurant/my_restaurant_edit_base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load mytags %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock head %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="#">My Restaurant</a></li>
    <li class="active">Restaurant Desk</li>
</ol>
{% endblock breadcrumb %}

{% block my_restaurant_base %}
<p> function list: </p>
<p> display desk </p>
<p> add desk </p>
<p> update desk </p>
<p> delete desk </p>

<!-- desk info model dialog -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" role="form" action="{% url 'my_restaurant_add_desk' %} ">
                {% csrf_token %}

            <div class="modal-header">
                <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Desk Detail
                </h4> 
            </div>
            <div class="modal-body">
                {{ add_desk_form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close
                </button>
                <button type="submit" class="btn btn-primary">
                    Submit changes
                </button>
            </div>

            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Restaurant Desk</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#myModal" id="show_desk_editor">Add New Desk</button>
            <!-- restaurant desk add form -->
            {% if return_status|is_false %}
                <div id="add_desk_editor" class="well">
            {% else %}
                <div id="add_desk_editor" style="display: none;" class="well">
            {% endif %}
                    <form method="post" role="form" action="{% url 'my_restaurant_add_desk' %} ">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ add_desk_form.as_p }}
                            <button type="submit" class="btn btn-primary" id="hide_desk_editor">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
            {% render_table desk_table%}
        </div>


        {% comment %}
        {% endcomment %}

        <script>
            $(document).ready(function(){
                //$("#show_desk_editor").click(function(){
                //    // $(this).hide();
                //    $("#add_desk_editor").toggle()
                //});
            });
            $(function () { $('#myModal').modal({
                    keyboard: true
            })});
        </script>


        {% endblock my_restaurant_base%}
